.avatar {
  display: flex;
  align-items: center;
}
.img {
  padding: .1em;
  width: 3em;
  height: 3em;
}
.details {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
}
.heading {
  font-size: 1em;
  font-weight: 700;
}
.subheading {
  font-size: .9em;
}
@media only screen and (max-width: 840px) {
  .avatar {
    display: flex;
  }
  .img {
    object-fit: contain;
  }
  .heading {
    display: none;
  }
  .subheading {
    display: none;
  }
}
